/*
* @Author: lihui
* @Date:   2018-02-03 18:46:46
* @Last Modified by:   lihui
* @Last Modified time: 2018-02-03 18:51:19
*/
*{
	margin: 0;
	padding: 0;
	font-style: normal;
	text-decoration: none;
	list-style: none;
}